@font-face {
    font-family: DinProRegular;
    src: url("../fonts/dinpro-regular.otf");
}

@font-face {
    font-family: DinProMedium;
    src: url("../fonts/dinpro-medium.otf");
}

body {
    margin: 0;
    font-family: DinProRegular;
}

.topper {
    background-color: white;
    min-height: 70px;
}

.topper p {
    float: left;
    padding: 10px 0 0 70px;
    margin: 0;
    font-size: 2.5em;
}

.strip {
    height: 1pt;
    background-color: #e0e0e0;
}

.mainContent {
    padding: 50px 70px;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.tableGrid {
    width: 100%;
    table-layout: fixed;
}

.tableGrid th {
    text-align: left;
    color: #9799a0;
    padding: 20px 0 20px 40px;
    background-color: white;
}

.tableGrid td {
    padding: 20px 0 20px 40px;
}

.tableGrid tr {
    background-color: white;
}

.tableGrid tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.moneyEarned {
    width: 300px;
    float: left;
    font-size: 1.25em;
    padding: 30px;
    color: forestgreen;
}

#addBookBlock {
    display: none;
}

.addBook input {
    height: 30px;
    width: 288px;
    border: 1px solid lightgray;
    padding-left: 10px;
}

.addBook span {
    font-size: 1.125em;
}

.cart span {
    font-family: DinProMedium;
}

/* button */

.bt-gray {
    padding: 10px 35px 0 0;
    width: 220px;
    float: right;
}

.bt-checkout {
    padding: 20px 0 0 0;
    float: inherit;
}

.bt-gray a {
    display: table;
    border: 3px solid #666666;
    text-decoration: none;
    color: #666666;
    padding: 10px 60px;
}

.bt-gray a:hover {
    background-color: #666666;
    color: white;
    cursor: pointer;
}