@font-face {
    font-family: DinProRegular;
    src: url("../fonts/dinpro-regular.otf");
}

body, input, button {
    font-size: 1em;
    font-family: DinProRegular;
}

.loginContainer {
    width: 350px;
    height: 280px;
    margin: 50px auto;
    background: #f0f0f0;
}

.welcome {
    margin: 0;
    text-align: center;
    padding-top: 30px;
}

.form {
    padding: 0px 25px 0 25px;
}

.inputTextLogin {
    height: 30px;
    width: 288px;
    margin-top: 20px;
    border: 1px solid lightgray;
    padding-left: 10px;
}

.loginButton {
    margin-top: 20px;
    width: 300px;
    height: 30px;
    cursor: pointer;
    border-style: none;
    color: white;
    background: #2561ab;
}

.loginButton:hover {
    filter: brightness(50%);
}

.loginMessage {
    text-align: center;
}

.red {
    color: red;
}

.green {
    color: green;
}