<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset=" UTF-8"/>
    <title>Book Store</title>
    <link rel="stylesheet" href="/css/style_bookslist.css"/>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/js_list.js"></script>
</head>
<body>
<div class="container">
    <div class="topper">
        <p>Books</p>
        <div class="moneyEarned">
            <span>Total money earned: </span><span id="moneyEarned">0</span> $
        </div>

        <div class="bt-gray">
            <a th:href=" @{/logout}">
                Log Out
            </a>
        </div>
    </div>
    <div class="strip"></div>

    <div class="mainContent">
        <table id="tableGrid" class="tableGrid">
            <tr>
                <th width="10%">ID</th>
                <th width="50%">BOOK NAME</th>
                <th width="25%">PRICE</th>
                <th width="15%">TIMES BOUGHT</th>
            </tr>
        </table>
        <div class="addBook" sec:authorize="hasAuthority('ROLE_ADMIN')">
            <div class="bt-gray bt-checkout" id="showAddBook"><a>Add Book</a></div>
            <div id="addBookBlock">
                <h2>Add a new book:</h2>
                <span>Name: </span><input class="inputTextLogin" id="addBookName" type="text" placeholder="Name of the book"/>
                <span>Price: </span><input class="inputTextLogin" id="addBookPrice" type="text" placeholder="Price of the book"/>
                <div class="bt-gray bt-checkout" id="addBook"><a>Add</a></div>
            </div>
        </div>

        <div class="cart">
            <h1>Cart:</h1>
            <ul id="boughtList"></ul>
            <span>Total price: </span><span id="price">0</span> $
            <div class="bt-gray bt-checkout" id="checkout"><a>Checkout $</a></div>
            <div class="bt-gray bt-checkout" id="cancelOrder"><a>Cancel</a></div>
        </div>
    </div>
</div>
</body>
</html>